<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sentiment Analysis</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../static/assets/images/favicon.ico" />
  </head>
          <body style="background-color: rgb(126,23,169)">
          <div class="align-content-center" style="padding-top: 30px; padding-left: 50px;" >
        <h1 style="color: #afd9ee;">DINE BRAND</h1>
          </div>
                   <div class="align-content-center" style="padding-top: 150px; padding-left: 600px;" >
                <h1 style="color: #afd9ee">Sentiment Analysis For Dine Brand</h1>
        </br>
        <form action="/index" method="post">
            <div style="padding-top: 100px; padding-left: 100px;">
                   <button type="submit" class="btn btn-outline-danger btn-icon-text mb-2 mr-sm-2">
                            <i class="mdi mdi-file-check btn-icon-prepend"></i> Get Started </button>
                  </div>
                 </form>
            <!-- main-panel ends -->
        </div>
      <!-- End custom js for this page -->
  </body>
</html>